html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

@keyframes pump {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
.pump-heart {
  animation: pump 2s infinite;
}